<div class="container">
	<div class="cartContainer">
		<div class="cartFormWrapper{% if cart.item_count < 1 %} emptyCart{% endif %}">
			<form action="/cart" method="post" novalidate data-ajax="{{ settings.cart_type }}">
				<table class="table">
					<thead>
						<th colspan="2">Product</th>
						<th>Price</th>
						<th>Qty</th>
						<th>total</th>
					</thead>
					<tbody>
						{% for item in cart.items %}
							<tr>
								<td>
									<a href="{{ item.url | within: collections.all }}">
										<img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
									</a>
								</td>
								<td>
									<a href="{{ item.url }}">{{ item.product.title }}</a>
									{{ item.variant.title }}
									<a class="remove" href="/cart/change?line={{ forloop.index }}&amp;quantity=0" data-line="{{ forloop.index }}" data-id="{{ item.id }}" data-key="{{ item.key }}">remove</a>
								</td>
								<td>{{ item.price | money }}</td>
								<td>
									<input class="quantity" type="number" name="updates[]" data-line="{{ forloop.index }}" data-id="{{ item.id }}" data-key="{{ item.key }}" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
								</td>
								<td>
									{% if item.original_line_price != item.line_price %}
										{{ item.original_line_price | money }}
									{% endif %}
									{{ item.line_price | money }}
									{% for discount in item.discounts %}
										{{ discount.title }}
									{% endfor %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
              <textarea id="note" name="note">{{ cart.note }}</textarea>
				<div>
					<p>sub total : {{ cart.total_price | money }}</p>
					<button type="submit" class="siteBtn black-btn" name="update">Update</button>
					<button type="submit" class="siteBtn black-btn" name="checkout">Checkout</button>
					<a href="{{ routes.cart_clear_url }}" class="siteBtn black-btn">Clear Cart</a>
				</div>
              <label for="gift"><input id="gift" type="checkbox" name="attributes[gift]" style="display: block">gift</label>
              <label for="test"><input id="test" type="checkbox" name="attributes[test]" style="display: block">test</label>
			</form>
		</div>
		<div class="emptyCartWreapper text-center">
			<h2>Cart is empty</h2>
			<a href="{{ routes.all_products_collection_url }}" class="siteBtn black-btn">Continue Shopping</a>
		</div>
	</div>
</div>

{% style %}
	#shopify-section-{{ section.id }} .cartContainer {
		padding: 60px 0;
	}
	#shopify-section-{{ section.id }} .emptyCart,
	#shopify-section-{{ section.id }} .emptyCartWreapper {
		display: none;
	}
	#shopify-section-{{ section.id }} .emptyCart ~ .emptyCartWreapper {
		display: block;
	}

	.cartPopup {
		max-height: 100%;
		overflow: auto;
	}

	.cartPopupDrawer {
		transform: translateX(100%);
		transition: transform .5s linear;
	}

	.cartPopupDrawer.cartPopupDrawerOpen {
		transform: translateX(0%)
	}

	.cartPopupClose {
		font-size: 2rem;
		font-weight: bold;
		position: absolute;
		right: 0;
		top: 0;
	}

	.cartPopup .cartFormWrapper {
		padding: 0 !important;
	}

	.cartPopup .container {
			max-width: 100%;
	}

	.cartPopup table.table, table.table *:not(input) {
			border: none !important;
			display: block;
			max-width: 100%;
	}

	.cartPopup table.table tr + tr {
			border-top: 1px solid currentColor !important;
			margin-top: 1em;
			padding-top: 1em;
	}

	.cartPopup table.table thead {
			display: none;
	}

	.cartFormWrapper > form > label,
	.cartPopup .siteBtn:not(:nth-child(3))  {
		display: none;
	}
	.cartPopup .siteBtn {
		margin: 0 !important;
		width: 100%;
	}
{% endstyle %}