<footer>
    <div class="mainFooter sectionPad">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    {% if section.settings.aboutHeading != blank %}<h3>{{ section.settings.aboutHeading }}</h3>{% endif %}
                    
                    {% if section.settings.aboutContact != blank %}{{ section.settings.aboutContact }}{% endif %}
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima laborum quo similique maiores repellendus eligendi quae! Repellendus eum amet enim.</p>
                </div>
                <div class="col-sm-offset-1 col-sm-6">
                    {% if section.settings.contactHeading != blank %}<h3>{{ section.settings.contactHeading }}</h3>{% endif %}

                    {% assign blockSize = section.blocks | size %}
                    {% if blockSize > 0 %}
                    <ul>
                        {% for block in section.blocks %}
                            <li>
                                <p>
                                    {% include 'icons', icon: block.settings.infoIcon, width: 16, height: 16 %}
                                    {% if block.settings.infoIcon == "phone" %}
                                        <a href="tel:{{ block.settings.infoContent | remove: "(" | remove: ")" | remove: "-" | remove: " " }}" target="_blank">{{ block.settings.infoContent }}</a>
                                    {% elsif block.settings.infoIcon == "at" %}
                                        <a href="mailto:{{ block.settings.infoContent }}" target="_blank">{{ block.settings.infoContent }}</a>
                                    {% else %}
                                    {{ block.settings.infoContent }}
                                    {% endif %}
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="socialLinks lightGrayBg">
        <ul class="soc">
            {% if settings.linkedinLink != blank %}
                <li><a href="{{ settings.linkedinLink }}" target="_blank" class="linkedin" title="LinkedIn">{% include 'icons' icon: 'linkedin' %}</a></li>
            {% endif %}
            {% if settings.instagramLink != blank %}
                <li><a href="{{ settings.instagramLink }}" target="_blank" class="instagram" title="Instagram">{% include 'icons' icon: 'instagram' %}</a></li>
            {% endif %}
            {% if settings.facebookLink != blank %}
                <li><a href="{{ settings.facebookLink }}" target="_blank" class="facebook" title="Facebook">{% include 'icons' icon: 'facebook' %}</a></li>
            {% endif %}
            {% if settings.twitterLink != blank %}
                <li><a href="{{ settings.twitterLink }}" target="_blank" class="twitter" title="Twitter">{% include 'icons' icon: 'twitter' %}</a></li>
            {% endif %}
        </ul>
    </div>
</footer>

{% schema %}
{
    "name": "Footer",
    "settings": [
        {
            "type": "text",
            "id": "aboutHeading",
            "label": "About Heading",
            "default": "About Us"
        },
        {
            "type": "richtext",
            "id": "aboutContent",
            "label": "About Content",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima laborum quo similique maiores repellendus eligendi quae! Repellendus eum amet enim.</p>"
        },
        {
            "type": "text",
            "id": "contactHeading",
            "label": "Contact Heading",
            "default": "Contact Us"
        }
    ],
    "blocks": [
        {
            "type": "contactInfo",
            "name": "Contact Info",
            "settings": [
                {
                    "type": "select",
                    "id": "infoIcon",
                    "label": "Info Icon",
                    "options": [
                        {
                            "value": "phone",
                            "label": "Phone"
                        },
                        {
                            "value": "at",
                            "label": "At"
                        },
                        {
                            "value": "marker",
                            "label": "Location"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "infoContent",
                    "label": "Info Content"
                }
            ]
        }
    ]
}
{% endschema %}