{% assign products = product.metafields.custom.goes_well_with.value %}

<h2>Our Best Sellings...</h2>
<ul class="productList">
  {% for pro in products %}
    <li class="productItem">
      <a href="{{ pro.url }}" title="{{ pro.title }}">
        <img src="{{ pro.featured_media | img_url: "master" }}" alt="{{ pro.title }}">
        <p>{{ pro.title }}</p>
      </a>
    </li>
  {% endfor %}
</ul>

{% schema %}
  {
    "name": "Goes well with",
    "presets": [
      {
        "name": "Goes well with"
      }
    ],
    "templates": ["product"]
  }
{% endschema %}

{% style %}
#shopify-section-{{ section.id }} {
  background-color: #000;
  color: #fff;
  padding: 30px;
}
#shopify-section-{{ section.id }} .productList {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
}
#shopify-section-{{ section.id }} .productItem {
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
}
#shopify-section-{{ section.id }} .productItem a,
#shopify-section-{{ section.id }} .productItem p {
  color: #000;
}
{% endstyle %}

{% javascript %}
{% endjavascript %}
