<header>
    <!-- Nav -->
    <nav id="nav" class="navbar nav-transparent">
        <div class="container-fluid">
            <div class="crow">
                <div class="navbar-header">
                    <!-- Logo -->
                    <div class="navbar-brand">
                        <a href="{{ routes.root_url }}">
                            {% capture logo_alt %}{{ shop.name }}{% endcapture %}
                            {% assign logoImg = section.settings.logoImg %}
                            {% assign logoAlt = section.settings.logoAlt %}

                            {% if logoImg.src != nil %}
                                <img class="logo" src="{{ logoImg | img_url: 'master' }}" alt="{{ logo_alt | escape }}">
                            {% else %}
                                <div class="logo">{{ page_title }}</div>
                            {% endif %}

                            {% if logoAlt.src != nil %}
                                <img class="logo-alt" src="{{ logoAlt | img_url: 'master' }}" alt="{{ logo_alt | escape }}">
                            {% else %}
                                {% if logoImg.src != nil %}
                                    <img class="logo-alt" src="{{ logoImg | img_url: 'master' }}" alt="{{ logo_alt | escape }}">
                                {% else %}
                                    <div class="logo-alt">{{ page_title }}</div>
                                {% endif %}
                            {% endif %}
                        </a>
                    </div>
                    <!-- /Logo -->

                    <!-- Collapse nav button -->
                    <div class="nav-collapse">
                        <span></span>
                    </div>
                    <!-- /Collapse nav button -->
                </div>

                <!--  Main navigation  -->
                <ul class="main-nav nav navbar-nav navbar-right">
                    {% for link in linklists[section.settings.main_menu].links %}
                        {% assign child_links = link.title | handleize %}
                        {% if link.links != blank %}
                            <li class="has-dropdown">
                                <div class="showDrop">
                                    <a href="{{ link.url }}">{{ link.title }}</a>
                                    <i class="fa fa-angle-down"></i>
                                </div>

                                <ul class="dropdown">
                                    <li><a class="backToParent" href="javascript:void(0)"><i class="fa fa-angle-left"></i> Back</a></li>

                                    {% for childInk in link.links %}
                                        <li><a href="{{ childInk.url }}">{{ childInk.title | escape }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li>
                        {% if localization.available_countries.size > 1 %}
                            <localization-form>
                              {% form 'localization' %}
                                <div class="disclosure">
                                  <button type="button" class="disclosure__button" aria-expanded="false" aria-controls="CountryList">
                                    {{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})
                          
                                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                                    </svg>
                                  </button>
                          
                                  <ul id="CountryList" role="list" class="disclosure__list" hidden>
                                    {% for country in localization.available_countries %}
                                      <li class="disclosure__item" tabindex="-1">
                                        <a href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
                                          {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                                        </a>
                                      </li>
                                    {% endfor %}
                                  </ul>
                          
                                  <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
                                </div>
                              {% endform %}
                            </localization-form>
                          {% endif %}                          
                    </li>
                </ul>
                <!-- /Main navigation -->
            </div>
        </div>
    </nav>
    <!-- /Nav -->
</header>
<!-- /Header -->

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "image_picker",
            "id": "logoImg",
            "label": "Logo Image"
        },
        {
            "type": "image_picker",
            "id": "logoAlt",
            "label": "Logo Alternate"
        },
        {
            "type": "link_list",
            "id": "main_menu",
            "label": "Menu",
            "default": "main-menu"
        }
    ]
}
{% endschema %}