<header>
    <!-- Nav -->
    <nav id="nav" class="navbar nav-transparent">
        <div class="container-fluid">
            <div class="crow">
                <div class="navbar-header">
                    <!-- Logo -->
                    <div class="navbar-brand">
                        <a href="{{ routes.root_url }}">
                            {% capture logo_alt %}{{ shop.name }}{% endcapture %}
                            {% assign logoImg = section.settings.logoImg %}
                            {% assign logoAlt = section.settings.logoAlt %}

                            {% if logoImg.src != nil %}
                                <img class="logo" src="{{ logoImg | img_url: 'master' }}" alt="{{ logo_alt | escape }}">
                            {% else %}
                                <div class="logo">{{ page_title }}</div>
                            {% endif %}

                            {% if logoAlt.src != nil %}
                                <img class="logo-alt" src="{{ logoAlt | img_url: 'master' }}" alt="{{ logo_alt | escape }}">
                            {% else %}
                                {% if logoImg.src != nil %}
                                    <img class="logo-alt" src="{{ logoImg | img_url: 'master' }}" alt="{{ logo_alt | escape }}">
                                {% else %}
                                    <div class="logo-alt">{{ page_title }}</div>
                                {% endif %}
                            {% endif %}
                        </a>
                    </div>
                    <!-- /Logo -->

                    <!-- Collapse nav button -->
                    <div class="nav-collapse">
                        <span></span>
                    </div>
                    <!-- /Collapse nav button -->
                </div>

                <!--  Main navigation  -->
                <ul class="main-nav nav navbar-nav navbar-right">
                    {% for link in linklists[section.settings.main_menu].links %}
                        {% assign child_links = link.title | handleize %}
                        {% if link.links != blank %}
                            <li class="has-dropdown">
                                <div class="showDrop">
                                    <a href="{{ link.url }}">{{ link.title }}</a>
                                    <i class="fa fa-angle-down"></i>
                                </div>

                                <ul class="dropdown">
                                    <li><a class="backToParent" href="javascript:void(0)"><i class="fa fa-angle-left"></i> Back</a></li>

                                    {% for childInk in link.links %}
                                        <li><a href="{{ childInk.url }}">{{ childInk.title | escape }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <!-- /Main navigation -->
            </div>
        </div>
    </nav>
    <!-- /Nav -->
</header>
<!-- /Header -->

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "image_picker",
            "id": "logoImg",
            "label": "Logo Image"
        },
        {
            "type": "image_picker",
            "id": "logoAlt",
            "label": "Logo Alternate"
        },
        {
            "type": "link_list",
            "id": "main_menu",
            "label": "Menu",
            "default": "main-menu"
        }
    ]
}
{% endschema %}