<header>
    <!-- Nav -->
    <nav id="nav" class="navbar nav-transparent">
        <div class="container-fluid">
            <div class="crow">
                <div class="navbar-header">
                    <!-- Logo -->
                    <div class="navbar-brand">
                        <a href="{{ routes.root_url }}">
                            {% capture logo_alt %}{{ shop.name }}{% endcapture %}
                            {% assign logoImg = section.settings.logoImg %}
                            {% assign logoAlt = section.settings.logoAlt %}

                            {% if logoImg.src != nil %}
                                <img class="logo" src="{{ logoImg | img_url: 'master' }}" alt="{{ logo_alt | escape }}">
                            {% else %}
                                <div class="logo">{{ page_title }}</div>
                            {% endif %}

                            {% if logoAlt.src != nil %}
                                <img class="logo-alt" src="{{ logoAlt | img_url: 'master' }}" alt="{{ logo_alt | escape }}">
                            {% else %}
                                {% if logoImg.src != nil %}
                                    <img class="logo-alt" src="{{ logoImg | img_url: 'master' }}" alt="{{ logo_alt | escape }}">
                                {% else %}
                                    <div class="logo-alt">{{ page_title }}</div>
                                {% endif %}
                            {% endif %}
                        </a>
                    </div>
                    <!-- /Logo -->

                    <!-- Collapse nav button -->
                    <div class="nav-collapse">
                        <span></span>
                    </div>
                    <!-- /Collapse nav button -->
                </div>

                <!--  Main navigation  -->
                <ul class="main-nav nav navbar-nav navbar-right">
                    {% for link in linklists[section.settings.main_menu].links %}
                        {% assign child_links = link.title | handleize %}
                        {% if link.links != blank %}
                            <li class="has-dropdown">
                                <div class="showDrop">
                                    <a href="{{ link.url }}">{{ link.title }}</a>
                                    <i class="fa fa-angle-down"></i>
                                </div>

                                <ul class="dropdown">
                                    <li><a class="backToParent" href="javascript:void(0)"><i class="fa fa-angle-left"></i> Back</a></li>

                                    {% for childInk in link.links %}
                                        <li><a href="{{ childInk.url }}">{{ childInk.title | escape }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li>
                        <a class="searchForm" href="javascript:void(0)">
                            <svg x="0px" y="0px" viewBox="0 0 534.7 534.5"><path d="M528.2,496.7l-131-130.9c32.8-40,50.8-90.1,50.8-141.9c0-123.5-100.5-224-224-224c-30.2,0-59.5,5.9-87.1,17.6 c-26.7,11.3-50.6,27.5-71.2,48S29,110.1,17.7,136.8C6,164.4,0,193.8,0,223.9c0,123.5,100.5,224,224,224c51.8,0,101.8-18,141.9-50.8 L496.7,528c4.2,4.2,9.8,6.5,15.7,6.5c6,0,11.5-2.3,15.7-6.5C536.9,519.4,536.9,505.4,528.2,496.7L528.2,496.7z M403.7,223.9 c0,99.1-80.6,179.6-179.6,179.6C125,403.6,44.4,323,44.4,223.9S125,44.3,224.1,44.3S403.7,124.9,403.7,223.9z"/></svg>
                        </a>
                    </li>
                    <li>
                        {% if localization.available_countries.size > 1 %}
                            <localization-form>
                              {% form 'localization' %}
                                <div class="disclosure">
                                  <button type="button" class="disclosure__button" aria-expanded="false" aria-controls="CountryList">
                                    {{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})
                          
                                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewBox="0 0 10 6">
                                      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                                    </svg>
                                  </button>
                          
                                  <ul id="CountryList" role="list" class="disclosure__list" hidden>
                                    {% for country in localization.available_countries %}
                                      <li class="disclosure__item" tabindex="-1">
                                        <a href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
                                          {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                                        </a>
                                      </li>
                                    {% endfor %}
                                  </ul>
                          
                                  <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
                                </div>
                              {% endform %}
                            </localization-form>
                          {% endif %}                          
                    </li>
                </ul>
                <!-- /Main navigation -->
            </div>
        </div>
    </nav>
    <!-- /Nav -->
</header>
<!-- /Header -->

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "image_picker",
            "id": "logoImg",
            "label": "Logo Image"
        },
        {
            "type": "image_picker",
            "id": "logoAlt",
            "label": "Logo Alternate"
        },
        {
            "type": "link_list",
            "id": "main_menu",
            "label": "Menu",
            "default": "main-menu"
        }
    ]
}
{% endschema %}