<section class="stand overlayer sectionPad left" style="background-image: url({{ section.settings.bgImage | img_url: 'master' }});">
	<div class="container overlayerInner">
		<div class="row">
            {% if section.settings.align == "center" %}
                <div class="col-sm-2"></div>
            {% elsif section.settings.align == "right" %}
                <div class="col-sm-4"></div>
            {% endif %}
			<div class="col-sm-8 text-{{ section.settings.align }}">
                {% if section.settings.heading != blank %}<h3>{{ section.settings.heading }}</h3>{% endif %}
                {% if section.settings.content != blank %}{{ section.settings.content }}{% endif %}

				{% if section.settings.link != blank and section.settings.linkLabel != blank %}<a href="{{ section.settings.link }}" class="siteBtn transparnt-btn">{{ section.settings.linkLabel }}</a>{% endif %}
			</div>
		</div>
	</div>
</section>

{% schema %}
{
    "name": "Banner with Link",
    "settings": [
        {
            "type": "image_picker",
            "id": "bgImage",
            "label": "Background Image"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "The standard Lorem Ipsum passage, used since the 1500s"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>"
        },
        {
            "type": "url",
            "id": "link",
            "label": "Link/URL"
        },
        {
            "type": "text",
            "id": "linkLabel",
            "label": "Label",
            "default": "Apply Here"
        },
        {
            "type": "select",
            "id": "align",
            "label": "Align",
            "default": "left",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "Banner",
            "name": "Banner with Link"
        }
    ]
}
{% endschema %}